<style>
body {  
    background-color: red;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: white;
}

p {
text-align: right;
font-weight:bold ;
}
</style>